[Unit]
Description=Docker container for HEADFUL-PUPPETEER-DOCKER
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a headful-puppeteer-container
ExecStop=/usr/bin/docker stop -t 2 headful-puppeteer-container

[Install]
WantedBy=multi-user.target
